:root{
--verde: #A5B68D;
--beigeOscuro: #ECDFCC;
--beigeClaro: #FCFAEE;
--naranja: #DA8359;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--beigeClaro) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.card-body .btn {
  background-color: var(--verde);
}

#page-container {
  flex: 1;
}

#footer-container {
  position: relative;
  padding-bottom: 2.5rem;
}

#footer {
  flex-shrink: 0;
}

#botonLogin {
  background-color: var(--verde);
  color: white;
}

#botonLogin:hover {
  background-color: #83b33f !important;
  color: white;
}

#botonRegistro {
  background-color: var(--naranja);
  color: white;
}

#botonRegistro:hover {
  background-color: #dca387 !important;
  color: white;
}

.imagenGrilla {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 1px;
}

.nombreGrilla {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  padding-left: 5px;
}

.imgCard {
  margin: 10px;
}

.carouselCard {
  padding: 5px;
}

.imgLibroListado {
  width: 150px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
}

.detLibroListado {
  padding: 10px;
}

.btnAgregar {
  background-color: #83b33f !important;
  color: white !important;
}

.btnAgregar:hover {
  background-color: var(--verde) !important;
  color: white !important;
}

.txtNaranja {
  color: #da8359 !important;
}

.btnRegistro {
  background-color: var(--naranja) !important;
  color: white !important;
}

.btnRegistro:hover {
  background-color: #dca387 !important;
  color: white !important;
}


#btnMenu, #tituloPagina{
  text-decoration: none !important;
  color: var(--beigeClaro) !important;
}

#tituloPagina{
  padding-left: 10rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--beigeClaro);
}

.linkPerfil{
  color: var(--beigeClaro) !important;
}

.linkPerfil:hover, #btnMenu:hover{
  color: var(--beigeOscuro) !important;
}